.view-list h1 {
    font-size: 80px;
    margin-top: 35px;
    margin-left: 10px;
    color: black;
    max-width: 650px;
}

.list-container {
    display: flex;
    justify-content: space-around;
    max-width: 1024px;
    flex-direction: row;
    margin-top: -20px;
}

.list-container p {
    margin-left: 30px;
}

.view-list-items {
    margin-left: 50px
}
.container-left {
    display: flex;
    flex-basis: 100%;
    flex: 2;
    border-right: solid
}

.container-right {
    display: flex;
    flex-basis: 100%;
    flex: 1;
}