.footer {
  background-color: #3eb489;
  text-align: center;
  margin-top: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
  border: 1px solid black;
  max-width: 1024px;
  font-family: 'Gadugi', sans-serif;
}

.header {
  background-color: #ebcaca;
  margin-top: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
  border: 1px solid black;
  text-align: center;
}

.index-buttons {
  background-color: #346900;
  color: white;
  padding: 5px;
  margin: 5px;
}