.recipe-component {
    background-color: #9C774A;
    border: 1px black solid;
    padding-bottom: 50px;
    box-shadow: 3px 2px 2px black;
}

.recipe-img {
    width: 90%;
    height: 70%;
    object-fit: contain;
}

.recipe-component h2 {
    font-size: 30px;
    margin-top: 5px;
    margin-left: 5px;
    margin-bottom: 10px;
}

.recipe-component p {
    font-size: 20px;
    margin-left: 5px;
}