.modal-container {
    /* display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 375px;
    height: 100px; 
    font-family: 'Gadugi', sans-serif;
    border: 1px black solid;  */

    position: absolute;
    top: 110px;
    right: 400px;
    width: 200px;
    height: 270px;
    border-radius: 12px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: flex;
    flex-direction: column;
    padding: 25px; 
    align-items: center;
    margin-right:-220px;
    
  }

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;  
}

button {
    margin: 5px;
}
