.profile-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.profile-image {
    height: 75px;
    border-radius: 50%;
    border: 3px solid #349600;
}

img {
    margin-left: 10px
}

p {
    margin-top: 25px;
}