.create-list h1 {
    font-size: 80px;
    margin-top: 35px;
    margin-left: 10px;
    color: black;
    max-width: 650px;
}

.create-list p {
    font-size: 20px;
}

.name {
    display: flex;
    flex-direction: row;
    margin-left: 10px;
}

.date {
    display: flex;
    flex-direction: row;
    margin-left: 10px;
}

.items {
    margin-left: 10px;
}

.list-inputs {
    display: flex;
    flex-direction: column;
    margin-top: -20px;
    margin-left: 10px
}

.list-inputs input {
    height: 30px;
    width: 200px;
    margin-top: 20px;
    margin-left: 15px;
}

.date input {
    margin-left: 25px;
}

.list-items {
    display: flex;
    flex-direction: row;
    margin-left: 10px;
    flex-wrap: wrap;
    max-width: 1024px;
}

.list-btns {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    margin-left: 10px;
}

.save button {
    background-color: #3eb489;
    border: 1px solid #3eb489;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, .1) 0 2px 4px 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    width: 200px;
    margin-left: 10px;
}

.delete button {
    background-color: #952e1a;
    border: 1px solid #952e1a;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, .1) 0 2px 4px 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    width: 200px;
    margin-left: 10px;
}

#save button:hover {
    box-shadow: rgba(0, 0, 0, .15) 0 3px 9px 0;
    transform: translateY(-2px);
}

#delete button:hover {
    box-shadow: rgba(0, 0, 0, .15) 0 3px 9px 0;
    transform: translateY(-2px);
}

.ingredient-search {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    margin-left: 20px;
}

.ingredient-search form {
    width: 400px
}

.h2 {
    margin-top: 35px;
    margin-left: 20px
}

.ing-search-results {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 1024px;
    margin-top: 20px;
    flex-wrap: wrap;
}

.ing-results {
    flex-basis: 32%;
    max-width: 328px;
    margin-left: 10px;
    margin-bottom: 10px;
    flex-grow: 1;
  }

.ingredient-component button {
    background-color: #3eb489;
    border: 1px solid #3eb489;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, .1) 0 2px 4px 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    margin-right: 15px;
    margin-left: 5px;
    margin-top: 20px;
    width: 200px
}

#ing-btn button:hover {
    box-shadow: rgba(0, 0, 0, .15) 0 3px 9px 0;
    transform: translateY(-2px);
}

.items {
    margin-left: 20px;
}

.item-checks {
    margin-left: 15px;
    margin-top: 20px;
    font-size: 18px;
}

.item-checks input {
    margin-right: 5px
}