@media(min-width:768px) {

    .featuresContainer {
        display: flex;
        justify-content: space-around;
        max-width: 1024px;
    }

    .featuresBox {
        flex-basis: 32%;
        text-align: center;
        background-color: #9C774A;
        border: 1px black solid;
        padding-bottom: 200px;
        box-shadow: 3px 2px 2px black;
      }
    
}
  
@media(max-width:767px) {
    .featuresContainer{
        display: flex;
        justify-content: space-around;
    }

    .featuresBox {
        flex-basis: 32%;
        text-align: center;
        background-color: #9C774A;
        border: 1px black solid;
        padding-bottom: 150px;
        box-shadow: 3px 2px 2px black;
      }

  }

.featuresContainer {
    font-family: 'Gadugi', sans-serif;
}
    
.featuresImage {
    width: 90%;
    height: 90%;
    object-fit: contain;
  }

